<div class="container" >
    <div class="col-md-8 col-md-offset-2">
        <h1>SUBSCRIBER REGISTRATION FORM </h1><hr/>

            <%= render 'form'  %>
            <%= link_to 'Go_Back',lco_path(@lco) %>
        </h1>
    </div>
</div>